.mat-elevation-z8 {
  margin: auto;
  width: 60%;
}

th.mat-sort-header-sorted {
  color: black;
}

.refFilters {
  margin-top: 15px;
  margin-left: 20px;
}

th.mat-header-cell,
td.mat-cell {
  padding-left: 10px;
}
