.cardsContainer {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}

.userCards {
  width: 25vw;
  margin: 25px;
  transition: all 0.2s ease-in-out;
}

.userCards:hover {
  background: #ff1493;
  color: white;
}

.newUser input {
  margin: 15px;
}

.userInputCard {
  background-color: #ff69b4;
  max-width: 50vw;
}
