<section class="globalSection">
  <h1>User Details</h1>
  <form
    class="newUser"
    #userForm="ngForm"
    (ngSubmit)="onSubmit(userForm.value); userForm.resetForm()"
  >
    <mat-card class="userInputCard">
      <label for="newUserFirstname">First Name:</label>
      <input type="text" title="newUserFirstname" name="firstName" ngModel />
      <label for="newUserLastname">Last Name:</label>
      <input type="text" title="newUserLastname" name="lastName" ngModel />
      <br />
      <label for="newUserPhone">Phone:</label>
      <input type="text" title="newUserPhone" name="phoneNumber" ngModel />
      <label for="newUserEmail">Email:</label>
      <input type="text" title="newUserEmail" name="emailAddress" ngModel />
      <br />
      <mat-card-actions align="end">
        <button type="submit" class="btn btn-success">Add New User</button>
      </mat-card-actions>
    </mat-card>
  </form>
  <div class="cardsContainer">
    <mat-card class="userCards" *ngFor="let user of UserList">
      <mat-card-title>
        User: {{ user.firstName }} {{ user.lastName }}
      </mat-card-title>
      <mat-card-content>
        Phone Number: {{ user.phoneNumber }}
        <br />
        Email Address: {{ user.emailAddress }}
      </mat-card-content>
      <mat-card-actions align="end">
        <button (click)="removeUser(user.userId)" class="btn btn-danger">
          DELETE
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
