/* :host accesses the components selector css*/
:host {
  display: block;
  height: 93.5vh;
  background-color: rgb(224, 253, 224);
}

.cardsContainer {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}

.userCards {
  width: 25vw;
  margin: 25px;
  transition: all 0.2s ease-in-out;
}

.userCards:hover {
  background: rgb(13, 182, 13);
  color: white;
}

.newUser input {
  margin: 15px;
}

.userInputCard {
  background-color: rgba(144, 238, 144, 0.479);
  max-width: 50vw;
}
